/* GLOBAL */

:root {
  --white: 0 0% 90%;
  --black: 0 0% 10%;
  --red: 0 60% 60%;
  --blue: 218 100% 74%;
  --yellow: 47 100% 50%;
  --lime: 67 73% 54%;
  --green: 89 43% 49%;
  --spacing-1: max(1rem, 4vw);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  line-height: 2;
  font-family: "Courier New", Courier, monospace;
  background-color: hsl(var(--black));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* SPACING */

.m-1 {
  margin: var(--spacing-1);
}

.ml-1 {
  margin-left: var(--spacing-1);
}

/* TEXT */

.text-red {
  color: hsl(var(--red));
}

.text-blue {
  color: hsl(var(--blue));
}

.text-yellow {
  color: hsl(var(--yellow));
}

.text-green {
  color: hsl(var(--green));
}

.text-lime {
  color: hsl(var(--lime));
}

/* YAML */

.yaml-comment::before {
  content: "#\20";
}

.yaml-key::after {
  content: ":";
  color: hsl(var(--white));
}

.yaml-item::before {
  content: "-\20";
  color: hsl(var(--white));
}
