* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 14%);
}

.fauxcss {
    padding: 3.125rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125rem;
    line-height: 2;
    color: hsl(0, 0%, 100%);
}

/* comment */

.fauxcss-comment {
    color: hsl(67, 73%, 54%);
}

.fauxcss-comment::before {
    content: '/*';
 }

.fauxcss-comment::after {
    content: '\00a0*/';
}

.fauxcss-comment__line::before {
    content: '\00a0*\00a0';
}

/* block */

.fauxcss-block::after {
    content: '}';
}

.fauxcss-block__selector {
    font-size: 1em;
    font-weight: normal;
    color: hsl(0, 59%, 57%);
}

.fauxcss-block__selector::before,
.fauxcss-block__selector::after {
    color: hsl(0, 0%, 100%);
    background-image: url(sdfdsfd);
}

.fauxcss-block__selector::before {
    content: '.';
}

.fauxcss-block__selector::after {
    content: '\00a0{';
}


.fauxcss-block__line::after {
    content: ';';
}

/* rule */

.fauxcss-rule {
    /*margin-left: 3.125rem;*/
    content: ';';
}

.fauxcss-rule::after {
    /*margin-left: 3.125rem;*/
    content: ';';
}

.fauxcss-rule__prop {
    color: hsl(218, 100%, 74%);
    display: inline-block;
    content: ':';
}

.fauxcss-rule__prop::after {
    color: hsl(0, 0%, 100%);
    display: inline-block;
    content: ':';
}

.fauxcss-rule__val::before {
    display: inline-block;
    content: '';
}

.fauxcss-rule__val::after {
    display: inline-block;
}

.prop::after {

}

/*
 * VALUE
 */

.fauxcss__val {
    color: hsl(47, 100%, 50%);
}

.val + .val::before {
    content: ',\00a0';
    color: hsl(0, 0%, 100%);
}

/* link */

.fauxcss__rule--link {
    text-decoration: none;
    color: hsl(89, 43%, 49%);
}

.fauxcss__rule--link:hover {
    text-decoration: underline;
}

.faux-css__rule--link::before,
.faux-css__rule--link::after {
    content: '"';
}

/*
 * IMPORTANT
 */

.important {
    color: hsl(30, 75%, 75%);
}

.important::before {
    content: '\00a0!';
}

/*
 * SQUARES
 */

.squares {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.squares > * {
    display: block;
    position: absolute;
    top: -1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: .125rem;
    border-width: .125rem;
    border-style: solid;
}

.squares > *.red {
    border-color: hsla(0, 59%, 57%, .5);
}

.squares > *.blue {
    border-color: hsla(218, 100%, 74%, .5);
}

.squares > *.yellow {
    border-color: hsla(47, 100%, 50%, .5);
}

.squares > *.green {
    border-color: hsla(89, 43%, 49%, .5);
}
